body{
    background-color: pink;
}
h1{
    font-size: 50px;
}

@media only screen and (max-width:700px){
    h1{
        font-size: 20px;
    background-color: purple;}
    
            
        }


/* pixel 5*/
@media only screen and (max-width:393px){

    h3{
        background-color: green;
        color: red;
        font-weight: bold;
        
    }

    h1{
        visibility: hidden; }
}

