
BODY{
    background-color: blue;
}


h1{
    
    background-color: pink;
    color:blue;
    
}
#Boxmodel{
    text-align: center;
    background-color: red;
    color: yellow;
    border: 4PX dashed blue;
    padding: 20PX;
    margin: 25PX;
}
